In [1]:
import numpy as np

In [2]:
mylist = [22,33,44,55,66,77,88,99]

In [3]:
print(mylist)

[22, 33, 44, 55, 66, 77, 88, 99]

In [4]:
myarray = np.asarray(mylist)

In [5]:
print(myarray)

[22 33 44 55 66 77 88 99]

In [6]:
print(type(myarray))

<class 'numpy.ndarray'>

In [7]:
print(type(mylist))

<class 'list'>

In [8]:
mytuple = (22,33,44,55,66,77,88,99)

In [9]:
print(type(mytuple))

<class 'tuple'>

In [10]:
print( mytuple )

(22, 33, 44, 55, 66, 77, 88, 99)

In [11]:
myarray_from_tuple = np.asarray(mytuple)

In [12]:
print(type(myarray_from_tuple))

<class 'numpy.ndarray'>

In [13]:
mylist2 = [ [22,33,44,55,66,77,88,99] , [1,2,3,4] ]

In [14]:
print( mylist2 )

[[22, 33, 44, 55, 66, 77, 88, 99], [1, 2, 3, 4]]

In [15]:
print(type(mylist2))

<class 'list'>

In [16]:
myarray_from_list = np.asarray(mylist2)

In [17]:
print( myarray_from_list )

[list([22, 33, 44, 55, 66, 77, 88, 99]) list([1, 2, 3, 4])]

In [18]:
print(type(myarray_from_list))

<class 'numpy.ndarray'>

In [25]:
mystring = b"azzouz abdelhakim"

In [26]:
print(type(mystring))

<class 'bytes'>

In [30]:
mystring_array = np.frombuffer(mystring ,dtype = "S1" )

In [31]:
print(type(mystring_array))

<class 'numpy.ndarray'>