In [1]:
import numpy as np

In [2]:
employee_info = [('name','S10') ,('salary','f8') ,('age','i8')   ]

In [3]:
employee_info

[('name', 'S10'), ('salary', 'f8'), ('age', 'i8')]

In [4]:
emplyees_staff = np.zeros((3), dtype = employee_info)

In [5]:
emplyees_staff

array([(b'', 0., 0), (b'', 0., 0), (b'', 0., 0)],
      dtype=[('name', 'S10'), ('salary', '<f8'), ('age', '<i8')])

In [6]:
emplyees_staff[2] = ('Abdelhakim' , 34 , 23)

In [7]:
emplyees_staff[1] = ('DAIKI' , 30 , 20)

In [8]:
emplyees_staff

array([(b'',  0.,  0), (b'DAIKI', 30., 20), (b'Abdelhakim', 34., 23)],
      dtype=[('name', 'S10'), ('salary', '<f8'), ('age', '<i8')])

In [9]:
emplyees_staff[0:]

array([(b'',  0.,  0), (b'DAIKI', 30., 20), (b'Abdelhakim', 34., 23)],
      dtype=[('name', 'S10'), ('salary', '<f8'), ('age', '<i8')])

In [10]:
emplyees_staff[1:]

array([(b'DAIKI', 30., 20), (b'Abdelhakim', 34., 23)],
      dtype=[('name', 'S10'), ('salary', '<f8'), ('age', '<i8')])

In [11]:
salary = emplyees_staff['salary']

In [12]:
age = emplyees_staff['age']

In [13]:
add_salary = salary +2000

In [14]:
add_salary

array([2000., 2030., 2034.])

In [15]:
add_age = age + 3

In [16]:
add_age

array([ 3, 23, 26], dtype=int64)

In [17]:
emplyees_staff

array([(b'',  0.,  0), (b'DAIKI', 30., 20), (b'Abdelhakim', 34., 23)],
      dtype=[('name', 'S10'), ('salary', '<f8'), ('age', '<i8')])

In [18]:
all_employees =  np.zeros((4,3,2), dtype = employee_info)

In [19]:
all_employees

array([[[(b'', 0., 0), (b'', 0., 0)],
        [(b'', 0., 0), (b'', 0., 0)],
        [(b'', 0., 0), (b'', 0., 0)]],

       [[(b'', 0., 0), (b'', 0., 0)],
        [(b'', 0., 0), (b'', 0., 0)],
        [(b'', 0., 0), (b'', 0., 0)]],

       [[(b'', 0., 0), (b'', 0., 0)],
        [(b'', 0., 0), (b'', 0., 0)],
        [(b'', 0., 0), (b'', 0., 0)]],

       [[(b'', 0., 0), (b'', 0., 0)],
        [(b'', 0., 0), (b'', 0., 0)],
        [(b'', 0., 0), (b'', 0., 0)]]],
      dtype=[('name', 'S10'), ('salary', '<f8'), ('age', '<i8')])

In [20]:
all_employees['name']

array([[[b'', b''],
        [b'', b''],
        [b'', b'']],

       [[b'', b''],
        [b'', b''],
        [b'', b'']],

       [[b'', b''],
        [b'', b''],
        [b'', b'']],

       [[b'', b''],
        [b'', b''],
        [b'', b'']]], dtype='|S10')